:root{
    --color-brown: #8C533E;
    --color-golden: #C5A973;
    --color-grey: #f2f2f2;
    --color-white: #ffffff;

    --font-family-titles: 'Playfair Display', serif;
    --font-weight-titles: 800;
    --font-size-titles: 1.565rem;
    --line-height-title: 1.5rem;

    --font-family-subtitles: 'Montserrat', sans-serif;
    --font-weight-subtitles: 800;
    --font-size-subtitles: 1.063rem;
    --pading-subtitles-title: 0 0.625rem;
    --line-height-subtitles: 95%;

    --font-weight-paragraph: 500;
    --font-size-paragraph: 1.063rem;
    --line-height-paragraph: 95%;

    --line: .03rem solid var(--color-brown);

    --border-radius-buttons: 0.188rem;

    --color-hover-buttons: #d3bc8f;

    --margin-elements: 1.5rem;

    --margin-sections: 3.5rem;

    --max-width: 26.75rem;

    --align-texts: center;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.375rem;
    margin: 0 auto;
    width: 85%;
    background-color: var(--color-golden);
    color: var(--color-grey);
    font-weight: var;
    font-size: 1.563rem;
    font-weight: 700;
    border-radius: var(--border-radius-buttons);
    text-align: var(--align-texts);
}
:hover.general-button{
    background-color: var(--color-hover-buttons);
}