:root{
    --color-brown: #8c533e;
    --color-golden: #C5A973;
    --color-grey: #f2f2f2;
    --color-white: #ffffff;

    --font-family-titles: 'Playfair Display', serif;
    --font-weight-titles: 800;
    --font-size-titles: 1.565rem;
    --line-height-title: 1.5rem;

    --font-family-subtitles: 'Montserrat', sans-serif;
    --font-weight-subtitles: 800;
    --font-size-subtitles: 1.063rem;
    --pading-subtitles-title: 0 0.8rem;
    --line-height-subtitles: 95%;

    --font-weight-paragraph: 500;
    --font-size-paragraph: 1.063rem;
    --line-height-paragraph: 1.4rem;

    --line: .03rem solid var(--color-brown);

    --border-radius-buttons: 0.188rem;

    --color-hover-buttons: #d3bc8f;

    --margin-elements: 1.5rem;

    --margin-sections: 3.5rem;

    --align-texts: center;
}
.bold-font{
    font-weight: 700;
}
.general-titles{
    font-size: var(--font-size-titles);
    color: var(--color-brown);
    font-weight: var(--font-weight-titles);
    text-align: var(--align-texts);
    line-height: var(--line-height-title);
    padding: var(--pading-subtitles-title);
}
.general-paragraphs{
    color: var(--color-brown);
    font-size: var(--font-size-paragraph);
    font-weight: var(--font-weight-paragraph);
    line-height: var(--line-height-paragraph);
    padding: var(--pading-subtitles-title);
    text-align: var(--align-texts);
}