
@charset "UTF-8";

/*========FONTE========*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

/*========FONTE========*/



/*========CONFIG-GLOBAL========*/

.body{
    background-color: #F8EFE4;
}

a{
  text-decoration: none;
}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: nome;
}

/*========CONFIG-GLOBAL========*/


/*========CSS-DELAY========*/

/* #ocutar-pagina{display:none;}
#ocutar-botao{display:none;} */
   
/*========CSS-DELAY========*/


/*==========PULSAR-BOTÃO==========*/

.pulse {
    animation: pulse 0.5s infinite;
    margin: 0 auto;
    display: table;
    margin-top: 50px;
    animation-direction: alternate;
    -webkit-animation-name: pulse;
    animation-name: pulse;
  }
  
  @-webkit-keyframes pulse {
    0% {
      -webkit-transform: scale(1);
      
    }
    100% {
      -webkit-transform: scale(1.1);
      
    }
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }

  /*==========PULSAR-BOTÃO==========*/


  /*========BOTÃO-MARROM========*/

.botao-marrom{
  display: block;
  margin: auto;
  width: 70%;
  height: 60px;
  border: none;
  background: #704532;
  border-radius: 10px;
  color: #fff;
  font-weight: 900;
  font-size: 1.1em;
  box-shadow: 3px 3px 5px #70453280;
}

.botao-marrom:hover{
  background-color: #704532e7;
}
  
/*========BOTÃO-MARROM========*/



/*========BOTÃO-AMARELO========*/

.botao-amarelo{
  display: block;
  margin: auto;
  width: 70%;
  height: 60px;
  border: none;
  background: #D9AC59;
  border-radius: 10px;
  color: #fff;
  font-weight: 900;
  font-size: 1em;
  box-shadow: 3px 3px 5px #70453280;
  margin-top: -260px;
}

.botao-amarelo:hover{
  background-color: #ddb66d;
}
  
/*========BOTÃO-AMARELO========*/



/*========COMPRA-SEGURA========*/

.compra-segura{
  display: block;
  margin: auto;
  margin-top: 13px;
  width: 70%;
}

/*========COMPRA-SEGURA========*/